@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  margin: 0px;
  font-family: 'PT Sans', sans-serif;
  background-color: #282a35;
}

ul {
  display: block;
  list-style-type: none;
  text-align: center;
  padding-bottom: 2rem;
}

li {
  background-color: #00db9d;
  margin: 5px;
  padding-left: 20px;
  box-shadow: black 10px;
  z-index: 5;
  border: solid 2px white;
  border-radius: 5px;
  margin-right: 40px;
  height: 50px;
  line-height: 50px;
}

/* .section-divs {
    display: grid;
    margin: 5rem auto;
    width: min(90% 75rem);
    grid-auto-flow: row;
    justify-items: center;
    justify-content: space-evenly;
    gap: 1em;
  }
  
  @media (min-width: 45em) {
    .section-divs {
      grid-auto-flow: column;
    }
  } */

#main-div {
  margin: 0px;
  background-color: white;
  display: flex;

  // width: min(90% 75rem);
  grid-auto-flow: row;
  justify-content: space-between;
  box-shadow: black 100px;
  z-index: 5;
  border-bottom: solid 1px black;
  border-top: solid 1px white;
  position: relative;
}

#button-div {
  margin-right: 60px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

#search-div {
  margin-left: 0px;
  display: flex;
  align-items: center;
}

#search {
  margin-left: 10px;
}
#logo-div {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #000000;
  font-size: 15px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

button:hover {
  background: #7fffd4;
  text-decoration: none;
}

.trush {
  width: 30px;
  /* margin-top: 200px; */
  margin-left: 48%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #000000;
  font-size: 15px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.trush:hover {
  background: #7fffd4;
  text-decoration: none;
}

.add-task-btn {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #000000;
  font-size: 12px;
  background: #00db9d;
  padding: 10px 14px 10px 14px;
  border: solid #000000 1px;
  text-decoration: none;
  margin-right: -30px;
}

.add-task-btn:hover {
  background: #ffffff;
  text-decoration: none;
}

.css-input {
  padding: 7px;
  margin-right: 5px;
  font-size: 16px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: black;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: -50px 0px 0px rgba(66, 66, 66, 0);
}
.css-input:focus {
  outline: none;
  background-color: #00db9d;
}

.section-divs {
  display: grid;
  margin: 5rem auto;
  // width: min(90% 75rem);
  grid-auto-flow: row;
  justify-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

@media (min-width: 45em) {
  .section-divs {
    grid-auto-flow: column;
  }
}

.section {
  text-align: center;
  /* padding: 5px; */
  padding-bottom: 15px;
  width: 400px;
  background-color: white;
  box-shadow: black 10px;
  z-index: 3;
  border: solid 2px white;
  border-radius: 5px;
}

.section-title {
  text-align: left;
  margin-left: 20px;
}

.cancel-btn {
  padding-bottom: 5px;
  margin-right: 10px;
  float: right;
  color: red;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #7fffd4; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 300px;
}

.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.task {
  cursor: pointer;
}
.task.dragging {
  opacity: 0.5;
}

.tooltip {
  position: absolute;
  width: 200px;
  padding: 10px 10px;
  border: 1px solid #b3c9ce;
  border-radius: 0px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin-left: -7%;
}

/* popup section */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  width: 350px;
  height: 280px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 101;
  text-align: center;
  opacity: 0.1;

  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out,
    transform 1000ms ease-in-out;
}
.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #34f234;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}
.popup .icon i.fa {
  font-size: 30px;
  color: #34f234;
}
.popup .title {
  margin: 5px 0px;
  font-size: 30px;
  font-weight: 600;
}
.popup .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
}
.popup .dismiss-btn {
  margin-top: 15px;
}
.popup .dismiss-btn button {
  padding: 10px 20px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}
.popup > div {
  position: relative;
  top: 10px;
  opacity: 0;
}
.popup.active > div {
  top: 0px;
  opacity: 1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}
